		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="/public/javascripts/jquery.min.js"></script>
			<script src="/public/javascripts/jquery.scrolly.min.js"></script>
			<script src="/public/javascripts/jquery.scrollzer.min.js"></script>
			<script src="/public/javascripts/skel.min.js"></script>
			<script src="/public/javascripts/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/public/javascripts/main.js"></script>

	</body>
</html>