<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
  </head>
  <body>
    <%- include partials/header %>
    <p>Welcome to <%= title %></p>
  </body>
</html>
