<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/test/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/test/bootstrap-theme.min.css' />

  </head>
  <body>
    <%- include partials/header %>
  </body>
</html>
